.image {
    display:block;
    height: auto;
    width: 350px;
    margin: auto;
}

* {
    background-color: burlywood;
}

.title {
    text-align: center;
}

.description {
    border:solid red;
    background-color:;
}

.description-title {
    font-weight: strong
}